.container{
    width: 213px;
    height: 45px;
    
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: 1s ease;

    .button-text{
        font-size: 1.4rem;
        font-weight: 600;
        color: #FFF;
    }

    &:hover{
        filter: opacity(.8);
    }

}